* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.3rem;
    font-family: 'Oswald', sans-serif;
    background: #000;

  }
  
.logo{
    width: 70%;
    height: 100%;
    margin-left: 15vw;
    margin-bottom: 8vw;
}

.logo img{
    height: 15vw;
}


  
  .container {
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0 2rem;
  }
  
  .main-header {
    height: 55vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .main-header h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    line-height: 1.2;
  }
  
  .main-header h1 span {
    color: #b50d10;
  }
  
  .main-header p {
    font-size: 2rem;
  }
  
  img {
    width: 100%;
  }
  
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    color: white;
    background: #000;
    margin-bottom: 2rem;
  }
  
  .card h3 {
    margin-bottom: 2rem;
  }
  
  .card img {
    height: 350px;
  }
  
  .card > div {
    padding: 2rem;
  }
  
  .card:nth-child(even) img {
    order: 2;
  }
  
  
  /* .btn {
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 0.8rem 1.8rem;
    margin-top: 2rem;
    cursor: pointer;
  } */
  
  /* .btn:hover {
    opacity: 0.8;
  }
   */
  @media(max-width:600px) {
    .card {
      display: block;
    }
  }


/*  Keynotes heading  */

.text{
    margin-left: 6vw;
    margin-bottom: 50px;
    justify-content: center;
    font-family: Pacifico;
    font-size: 5rem;
    width: 80%;
    text-align: center;
    color: #fff;
    text-shadow: 0 3px 12px #6280f7, 
                 0 -3px 12px #6280f7, 
                 -3px 0px 12px #6280f7, 
                 3px 0px 12px #6280f7;
    animation: blink 3s linear infinite;
  }
  
  @keyframes blink{
    0%,
    48%,
    54%{
      color: #464646;
      text-shadow: none;
    }
    50%,
    52%{
      color: white;
      text-shadow: 0 3px 12px #6280f7, 
                   0 -3px 12px #6280f7, 
                   -3px 0px 12px #6280f7, 
                   3px 0px 12px #6280f7;
    } 
    56%{
        color: white;
        text-shadow: 0 3px 20px #8098f8, 
                     0 -3px 20px #8098f8, 
                     -3px 0px 20px #8098f8, 
                     3px 0px 20px #8098f8;
    }
      
  }
  
/*  Name Button */

  .container123{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}
.container123 a{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #0f0;
    margin: 20px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration:none ;
    letter-spacing: 2px;
    color: #fff;
    -webkit-box-reflect: below 0px linear-gradient(transparent,#0002);
    transform: 0.5s;
    transition-delay: 0s;
}

.container123 a:hover
{
    transition-delay: 1.5s;
    color: black;
    box-shadow: 0 0 10px #0f0,
    0 0 20px #0f0,
    0 0 40px #0f0,
    0 0 80px #0f0,
    0 0 160px #0f0;
}
.container123 a span
{
    position: relative;
    z-index: 100;
}
/* .container a:nth-child(){
    filter: hue-rotate(80deg);
} */


.container123 a::before
{
    content: "";
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: #0f0;
    box-shadow: 5px -8px 0 #0f0 , 5px 8px 0 #0f0;
    transition: width 0.5s,left 0.5s, height 0.5s;
    box-shadow: 0.5s;
    transition-delay: 1s,0.5s,0s,0s;
}

.container123 a:hover::before
{ 
    width: 60%;
    height: 100%;
    left:-2px;
    box-shadow: 5px 0 0 #0f0 , 5px 0 0 #0f0 ;
    transition-delay: 0s,0.5s,1s,1s;

}

.container123 a::after
{
    content: "";
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: #0f0;
    box-shadow: -5px -8px 0 #0f0 , -5px 8px 0 #0f0;
    transition: width 0.5s,left 0.5s, height 0.5s;
    box-shadow: 0.5s;
    transition-delay: 1s,0.5s,0s,0s;
}

.container123 a:hover::after
{ 
    width: 60%;
    height: 100%;
    right:-2px;
    box-shadow: -5px 0 0 #0f0 , -5px 0 0 #0f0 ;
    transition-delay: 0s,0.5s,1s,1s;

}


.bubbles
{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:0;
  transform:translateZ(0);
}
.bubbles li
{
  position:absolute;
  list-style:none;
  display:block;
  background-color:rgba(255, 255, 255, 0.15);
  bottom:-100px;
  animation:top 10s infinite;
  transition-timing-function:linear
}
.bubbles li:nth-child(1)
{
  width:40px;
  height:40px;
  left:20px;
  
}
.bubbles li:nth-child(2)
{
  width:60px;
  height:60px;
  left:40px;
  animation-delay:1s;
  animation-duration:17s
}
.bubbles li:nth-child(3)
{
  width:50px;
  height:50px;
  left:40%;
  animation-delay:2s;
  animation-duration:13s
}
.bubbles li:nth-child(4)
{
  width:80px;
  height:80px;
  left:80%;
  animation-delay:1s;
  animation-duration:22s
}
.bubbles li:nth-child(5)
{
  width:30px;
  height:30px;
  left:50%;
  animation-delay:7s;
  animation-duration:12s
}
@keyframes top{
  0%{
    transform:translateY(0) rotate(0)
  }
  100%{
    transform:translateY(-800px) rotate(360deg)
  }
}